#define RT_MANIFEST 24
1 RT_MANIFEST "@ASSETS@/dropship.exe.manifest"

2 ICON "@ASSETS@/white-bolts.ico"

// version info: unsigned executables without it look more suspicious to SmartScreen / AV heuristics
1 VERSIONINFO
FILEVERSION     @VER_COMMA@
PRODUCTVERSION  @VER_COMMA@
FILEOS          0x40004L
FILETYPE        0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Ryan Athlawi"
      VALUE "FileDescription",  "dropship - Arabic edition (Overwatch 2 server selector)"
      VALUE "FileVersion",      "@VER@"
      VALUE "InternalName",     "dropship"
      VALUE "LegalCopyright",   "Arabic edition (c) Ryan Athlawi, GPL-3.0. Based on dropship by stormy (github.com/stowmyy/dropship)"
      VALUE "OriginalFilename", "dropship-ar.exe"
      VALUE "ProductName",      "dropship - Arabic edition"
      VALUE "ProductVersion",   "@VER@"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
